@import '../utils/utils.scss';

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  &__info {
    display: flex;
    flex-direction: column;
  }
  &__preview {
    display: flex;
    max-width: 105px;
    height: 137px;

    &__amount {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}