@import '../utils/utils.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  &__categories, &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;

    @include tablets {
      width: 150px;
    }

    @include phones {
      width: 110px;
    }
  }
  
  &__categories {
    &__item-container {
      display: flex;
      align-items: center;
      justify-content: center;

      &__label {
        @include button-text;
        padding: 30px;
        &:hover {
          cursor: pointer;
        }
      }

      &__input {
        display: none;
      }
    }
  }
  
  &__actions {
    &__currency {
      border: 0;
    }
    &__cart {
      position: relative;

      &:hover {
        @include default-hover;
      }
      &__image {
        width: 20px;
        height: 20px;
      }

      &__amount {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        top: -10px;
        right: -10px;
        border-radius: 50%;
        background-color: $cart-amount-background;
        color: $text-secondary;
      }
    }
  }
}