@import '../utils/utils.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  &__categories, &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;

    @include tablets {
      width: 150px;
    }

    @include phones {
      width: 110px;
    }
  }
  
  &__categories {
    &__item-container {
      display: flex;
      align-items: center;
      justify-content: center;

      &__label {
        @include button-text;
        padding: 30px;
        
        &:hover {
          cursor: pointer;
        }
      }

      &__input {
        display: none;
      }
    }
    
    &__item-container input[type="radio"]:checked + label {
      color: #5ECE7B;
      border-bottom: 2px solid #5ECE7B;
    }
  }
  
  &__actions {
    &__currency {
      border: 0;
    }
  }
}