@import '../styles/utils/utils.scss';

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 80px;

  @include laptop {
    padding: 0 60px;
  }

  @include tablets {
    padding: 0 40px;
  }
}

.cart, .item-page, .catalog {
  overflow: scroll;
}