@import '../styles/utils/utils.scss';

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 80px;

  @include laptop {
    padding: 0 60px;
  }

  @include tablets {
    padding: 0 40px;
  }
}

.cart, .item-page, .catalog {
  overflow: scroll;
  flex: 1 0 auto;
}

#woman-category, #men-category, #kids-category {
  display: none;
}

#woman-category:checked ~ #women-category-label, 
#men-category:checked ~ #men-category-label, 
#kids-category:checked ~ #kids-category-label{
  color: green;
}