$text-primary: rgba(29, 31, 34, 1);
$text-secondary: #FFFFFF;

$button-text-primary: rgba(29, 31, 34, 1);
$button-text-secondary: rgba(255, 255, 255, 1);
$button-text-active: rgba(94, 206, 123, 1);

$button-add-to-cart-background: rgba(94, 206, 123, 1);

$button-check-out-background: rgba(94, 206, 123, 1);

$out-of-text-color: #8D8F9A;

$catalog-card-background: #FFFFFF;
$catalog-card-cart-button-background: #5ECE7B;


$cart-amount-background: #1D1F22;